* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: rgb(255, 252, 252);
  height: 100vh;
}

.table {
  border-collapse: collapse;
}

nav {
  height: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}
nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color:  white;
}


header {
  display: flex;
  justify-content: end;
  margin: 20px 5px;
}


.tr-heading {
  background-color: #2c3e50;
  color: white;
}

.action-icon-container {
  display: flex;
  gap: 10px;
}



.action-icon-container button {
  border: none;
  font-size: 20px;
  background: none;
}